<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><span class="title-span">CMS</span>prototype</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Artigos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publication">Publicar</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-primary" href="/signup" role="button" style="margin-right:5px;">Sign Up</a>
            <a class="btn btn-outline-primary" href="/signin" role="button">Sign In</a>
        </form>
    </div>
</nav>

<!-- estilizando menu -->
<style>
    .title-span {
        color: red;
        font-weight: bold;
    }
    .navbar-brand{
        font-family: Arial, Helvetica, sans-serif;
    }
</style>