<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <title>Artigos</title>
</head>

<body>
    <%include partials/menu %>
    <br>
    
    <div class="container">
    <h1 style="text-align:center;"> <%= article.title %> </h1>
    <p><%= article.article %></p>    
    </div>
    

    <% include js/scripts %>
</body>

</html>